/* ==========================================================================  */
/* F-Standard.css v0.1
基于 易度网络传媒开发部Global与 Normalize整理修改

创造F-Standard.css有下面这几个目的
. 经常使用的常用属性整合
. 保护有用的浏览器默认样式而不是完全去掉它们
. 一般化的样式：为大部分HTML元素提供
. 修复浏览器自身的样式显示bug并保证各浏览器的一致性
. 全篇编写了注释对于新手阅读更加友好
  觉得臃肿可以在F_picacho的Github获得min版本

By:F_picacho */
/* ==========================================================================  */

/* 全局默认编码 */
@charset "UTF-8";

/** 1.允许元素内长单词换行到下一行 */
*{
    word-wrap:break-word; /* 1 */
}
/**
 * 1. 在所有浏览器中更正行高.
 * 2. 防止在iOS中更改方向后调整字体大小.
 * 3. 定义默认元素高度百分比需要向上遍历父标签要找到一个定值高度才能起作用，如果中途有个height为auto或是没有设置height属性，则高度百分比不起作用，此时的情况是父元素高度依赖子元素堆砌撑高，而子元素依赖父元素的定高起作用，互相依赖，却都无法依赖。
 * 4. 默认字体组权重 适配各种平台下最优选字体
 */
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    height: 100%;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif; /* 4 */
}

/* 在IE中一致呈现“main”元素*/
main {
    display: block;
}

/** 删除常用元素的中的边距 方便计算布局 */
body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,img,embed,label,header,menu,nav,article,footer,fieldset,legend,audio,video,object {
	padding:0;
	border:0;
	margin:0;
}

/**
*更正“section”和中“h1”元素的字体大小和边距
*` chrome、firefox和safari中的上下文。
*/ 
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* 清除列表默认样式 浮动后自动解除 */
ul{
	list-style:none;
	clear:both;/*none*/
}

/* 方便以下元素布局 */
li,img,input,select{
	position:relative;
	vertical-align:middle;/*baseline*/
}

/* 清除a标签默认样式 */
a{
	text-decoration:none;
}

/**
*1.在firefox中添加正确的框大小。
*2.显示边缘和IE中的溢出。
*/ 
hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
*1.更正所有浏览器中字体大小的继承和缩放。
*2.在所有浏览器中更正奇数'em'字体大小。
*/ 
pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* 清除IE10中自带的img边框 */
img {
    border-style: none;
}



/* 清除浮动类 */
.Clear:after{
    content: '';
    display: block;
    clear: both;
}

/* 项目中安全区宽度 视情况修改 */
.Container{
    width: 0 auto;
}